table.dataTable thead th, table.dataTable thead td {
    border-bottom: 2px solid #206E26;
    background-color: #EAF3E8;
}
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #E0FFE0; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #FEFEFE !important;
        border: 1px solid #15DB31;
        background-color: #BEEEC7;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BEEEC7), color-stop(100%, #13F618));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #BEEEC7 0%, #13F618 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #BEEEC7 0%, #13F618 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #BEEEC7 0%, #13F618 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #BEEEC7 0%, #13F618 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #BEEEC7 0%, #13F618 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent;
        background: transparent;
        box-shadow: none; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #98F484;
        background-color: #98F484;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98F484), color-stop(100%, #13F618));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #98F484 0%, #DCFFDD 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #98F484 0%, #DCFFDD 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #98F484 0%, #DCFFDD 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #98F484 0%, #DCFFDD 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #98F484 0%, #DCFFDD 100%);
        /* W3C */ }